<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Destination App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@1&family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body id="photo">
    <header>
      <h1>Travel Planner</h1>
    </header>
    <main>
      <div id = "app">
        <section class="userInputSection">
          <!-- From Lesson 4 -->
          <form class="uiForm">
              <h2>Let's find out about your trip</h2>
            <div class="destination">
              <input type="text" name="location" id="uiLocation" placeholder="Where are you going?" required>
            </div>
            <div class="departure">
              <!-- from https://stackoverflow.com/questions/20321202/not-showing-placeholder-for-input-type-date-field -->
              <input placeholder="Departure" class="textbox-n" type="text" onfocus="(this.type='date')" id="uiDeparture" required>
            </div>
            <div class="return">
              <input placeholder="Return" class="textbox-n" type="text" onfocus="(this.type='date')" id="uiReturn" required>
            </div>
            <div>
              <input type="submit" id="submit" name="" value="Let's Go">
            </div>
          </form>
        </section>
        <section class= "results" >
            <div class="resultContainer" id="current">
              <h2>Current weather today in:</h2>
              <div class="location" id="locationResultCurrent"></div>
              <table class="tempBox" >
                <tr id="today"></tr>
              </table>
            </div>
            <div class="resultContainer" id="forecast">
              <h2>Forecasted weather in:</h2>
              <div class="location" id="locationResultForecast"></div>
              <table class="tempBox">
                <tr id="day0"></tr>
                <tr id="day1"></tr>
                <tr id="day2"></tr>
                <tr id="day3"></tr>
                <tr id="day4"></tr>
                <tr id="day5"></tr>
                <tr id="day6"></tr>
              </table>
            </div>
        </section>
      </div>
    </main>
  </body>
</html>