<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Destination App</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lobster&family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <img id="photo">
    <header>
      <h1>Travel Planner</h1>
    </header>
    <div id = "app">
      <section class="userInputSection">
        <div>
          <h2>Let's find out about your trip</h2>
        </div>
        <!-- From Lesson 4 -->
        <form class="uiForm">
          <div class="destination">
            <label for="location">Where are you going?</label>
            <input type="text" name="location" id="uiLocation" placeholder="e.g. Tokyo" required>
          </div>
          <div class="departure">
            <label for="departure">Departure Date:</label>
            <input type="date" name="departure" id="uiDeparture" required>
          </div>
          <div class="return">
            <label for="return">Return Date:</label>
            <input type="date" name="return" id="uiReturn" required>
          </div>
            <input type="submit" id="submit" name="" value="Let's Go">
        </form>
      </section>
      <section id="results">
        <img id="iconResult">
        <div class="tempBox">
          <div id="locationResult"></div>
          <div id="tempResult"></div>
        </div>
    </section>
  </body>
</html>