* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
$primary-font: 'Lobster Two', cursive;
$title-font: 'Lobster', cursive;
$color: #2D1832;
$bg:rgba($color: #EBF4FA, $alpha: 0.4);
$bgresult:rgba($color: #EBF4FA, $alpha: 0.6);
$contrast: #e26803;

body {
    font-family: $primary-font;
    color: $color;
    font-size: 16px;
    background: url("https://cdn.pixabay.com/photo/2015/10/12/14/55/airplane-983991_960_720.jpg") fixed no-repeat;
    background-size: cover;
    display: grid;
    grid-auto-rows: minmax(20vh, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "form results"
    "form results"
    "form results"
    "footer footer";
    height:100vh;
}

header {
    grid-area: header;
    font-family: $title-font;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 8px whitesmoke;
}

main {
    grid-area: 2 / 1 / 6 / 3;
}


#photo {
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// FORM STYLING
.userInputSection {
    grid-area: form;
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: column;


    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $bg;
        border-radius: 10px;
        width: 80%;
        padding: 5vh;


        h2{
            font-family: $title-font;
            text-shadow: 3px 3px 8px whitesmoke;
            padding-bottom: 1.5rem;
            text-align: center;
        }

        div {
            padding: 1rem;
            width: 75%;
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
                height: 2rem;
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

#submit {
    color: whitesmoke;
    background-color: $contrast;
}

#submit:hover {
    color: $contrast;
    background-color: whitesmoke;
    border: 1px solid $contrast;
}

#submit:active {
        color: #c4600f;
        background-color: rgb(226, 224, 224);
    }

    // RESULT STYLING
.results {
    grid-area: results;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    font-family: $title-font;
    color: $color;
    text-shadow: 2px 2px 8px whitesmoke;
    font-size: 1.25rem;

    .resultContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 85%;
        margin-bottom: 2.5vh;
        padding-top: 4vh;
        border-radius: 10px;
        background: $bgresult;
        transition: 1s;
        transition-timing-function: ease-in;

        h2 {
            font-family: $title-font;
            color: $color;
            text-shadow: 3px 3px 8px whitesmoke;
            font-size: 1.5rem;
        }

        .location {
            span {
                font-size: 1.5rem;
            }
        }
        .tempBox {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            font-family: $primary-font;
            font-size: 1rem;
            align-items: center;
            width: 100%;
            height: 75px;

            p {
                color:$color;
            }

            .icon{
                transform: scale(0.5) ;
            }
            .temp {
                span{
                    font-size: 1.5rem;
                    color: $contrast;
                }
            }
            .highTemp {
                span {
                    font-size: 1.25rem;
                    color: $color;
                }
            }
            .lowTemp {
                span {
                    font-size: 1.25rem;
                    color:$color;
                    }
                }
        }
        .description {

            span {
                font-family:'Lobster Two', cursive;
                }
        }
    }
}
