$primary-font: 'Lobster Two', cursive;
$title-font: 'Lobster', cursive;
$color: #2D1832;
$color_shadow: whitesmoke;
$bg:rgba($color: #EBF4FA, $alpha: 0.4);
$bgresult:rgba($color: #EBF4FA, $alpha: 0.7);
$contrast: #e26803;

body {
    font-family: $primary-font;
    color: $color;
    font-size: 16px;
    background: url("https://cdn.pixabay.com/photo/2015/10/12/14/55/airplane-983991_960_720.jpg") fixed no-repeat;
    background-size: cover;
    display: grid;
    grid-auto-rows: minmax(20vh, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "form results"
    "form results"
    "venues venues"
    "venues venues";
    height: 100vh;
}

header {
    grid-area: header;
    font-family: $title-font;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 8px whitesmoke;
    height: 10vh;
}

main {
    grid-area: 2 / 1 / 6 / 3;
    margin-top: -10vh;
}


#photo {
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;

    .midSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: 1060px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

// FORM STYLING
.userInputSection {
    grid-area: form;
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: 950px) {
        width: 95%;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $bg;
        border-radius: 10px;
        width: 80%;
        padding: 3vh;

        @media only screen and (max-width: 1250px) {
            padding: 2vh;
        }
        @media only screen and (max-width: 650px) {
            width: 95%;
            padding: 3vh;
        }

        h2{
            font-family: $title-font;
            text-shadow: 3px 3px 8px $color_shadow;
            padding-bottom: 1.5rem;
            text-align: center;
        }

        div {
            padding: 0.5rem;
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;

            @media only screen and (max-width: 1060px) {
                width: 90%;
            }

            input {
                height: 2rem;
                width: 100%;
                border-radius: 5px;
                border-color: $color_shadow;
            }
        }
    }
}

#submit {
    color: $color_shadow;
    background-color: $contrast;
}

#submit:hover {
    color: $contrast;
    background-color: $color_shadow;
    border: 1px solid $contrast;
}

#submit:active {
        color: #c4600f;
        background-color: rgb(226, 224, 224);
    }

    // RESULT STYLING
.results {
    grid-area: results;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 10vh;
    font-family: $title-font;
    color: $color;
    border-radius: 10px;
    text-shadow: 2px 2px 8px $color_shadow;
    font-size: 1.25rem;

    @media only screen and (max-width: 950px) {
        width: 95%;
    }
    
    .resultContainer {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 85%;
        padding: 3vh;
        border-radius: 10px;
        background: $bgresult;
        transition: 1s;
        transition-timing-function: ease-in;

        @media only screen and (max-width: 650px) {
            width: 95%;
        }

        h2 {
            font-family: $title-font;
            color: $color;
            text-shadow: 3px 3px 8px whitesmoke;
            font-size: 1.5rem;
        }

        .location {
            span {
                font-size: 1.35rem;
            }
        }
        
        .tempBox {
            font-family: $primary-font;
            font-size: 1rem;
            width: 100%;

            tr {
                text-align: center;

                .icon{
                    height: 5vh;
                }
                .temp {
                    span{
                        font-size: 1.5rem;
                        color: $contrast;
                    }
                }
                .description {

                    span {
                        font-family:'Lobster Two', cursive;
                        }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .description{
        display: none;
    }
}

.venues {
    grid-area: venues;
    display: none;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    transition: 2s;
    transition-timing-function: ease-in;


    @media only screen and (max-width: 800px) {
        flex-direction: column;
        width: 100%;
    }

    .venue {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(#F2D57E, #F2B705 );
        border-radius: 10px;
        margin: 5vh;
        padding: 2vh;

        @media only screen and (max-width: 800px) {
            align-self: center;
            width: 40%;
        }

        h3 {
            text-shadow: 3px 3px 8px whitesmoke;
        }

        img {
            width: 35%;
            margin: 1.5vh;
        }
    }
}

@media only screen and (max-width: 400px) {
    .description{
        display: none;
    }
}